*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", "sans-serif";
  /* border: 1px solid black; */
}

body{
  background-image: url(../assets/banner_cinema.jpg);
  background-size: cover;
}

.header{

  /* Con anidación para organizar todo mucho mejor */
  color: #ffffff;
  height: 10vh;
  /* Así se mantiene "pegado" al tope de la página, con fixed se desliga del flujo de la página y se complica el uso de la imagen de fondo */
  position: sticky;
  top: 0;
  /* Que el encabezado siempre se mantega por encima de los elementos de la página*/
  z-index: 10;

  /* aplicado al nav, a todo el contenedor */
  .navegacion{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 40px;
    margin-right: 40px;
    padding: 1.5rem 0;

    /* para el boton con el logo */
    .anclaLogo{
      text-decoration: none;
      color: #ffffff;
      font-weight: 700;
      font-size: 1.2rem;
    }

    .anclaLogo:hover{
      -webkit-animation: heartBeat 1s;
      animation: heartBeat 1s;
    }

  }

}

.sectionRegistrarse{
  background-color: #181419;
  border: 1px solid white;
  display: block;
  width: 40vw;
  height: 75vh;
}