/* Para quitar todo los estilos por defecto */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", "sans-serif";
  /* border: 1px solid black; */
}


/* ######################### HEADER ############################# */

.header{

  /* Con anidación para organizar todo mucho mejor */
  background-color: #9f3647;
  color: #ffffff;
  height: 10vh;
  /* Así se mantiene "pegado" al tope de la página, con fixed se desliga del flujo de la página y se complica el uso de la imagen de fondo */
  position: sticky;
  top: 0;
  /* Que el encabezado siempre se mantega por encima de los elementos de la página*/
  z-index: 10;

  /* aplicado al nav, a todo el contenedor */
  .navegacion{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 40px;
    margin-right: 40px;
    padding: 1.5rem 0;

    /* para el boton con el logo */
    .anclaLogo{
      text-decoration: none;
      color: #ffffff;
      font-weight: 700;
      font-size: 1.2rem;
    }

    .anclaLogo:hover{
      -webkit-animation: heartBeat 1s;
      animation: heartBeat 1s;
    }

    .listaNav{
      list-style: none;
      display: flex;
      align-items: center;

      .listaItem{
        margin-right: 20px;

        .linkNav{
          color: #ffffff;
          text-decoration: none;
          font-weight: 700;
          font-size: 1.1rem;
          padding: 0.5rem 1rem;

          /* para que haya un pequeño delay cuando aparecen esas transformaciones */
          transition: transform 0.3s, box-shadow 0.3s;

          /* & se refiere a la misma clase donde está parado*/
          &:hover{
            /* el elemento se achica un poco al pasarle por arriba con el mouse */
            transform: scale(0.95);
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
            border-radius: 5px;
          }

        }

        .linkNav.iniciarSesion{
          background-color: #181419;
          color: white;
          border-radius: 5px;

          transition: transform 0.3s, box-shadow 0.3s;
          &:hover{
            background-color: #9f3647;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
          }

        }

      }

    }

  }

}

/* ######################### MAIN ################################ */

.main{

  display: flex;
  flex-direction: column;
  background-color: #181419;
  color: white;

  section{
    border: 1px solid black;
  }


  /* ###################### SECCION LANDING ########################## */

  .landingSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
    background-image: linear-gradient(to right top, #0000008a, #0000008a), url(../assets/banner-bg.jpg);
    background-size: cover;
    text-shadow: 0px 0px 3px rgba(255, 255, 255, 0.6);

    color: #ffffff;

    .tituloPrincipal, .tituloSecundario{
      /* border: 1px solid  black; */
      display: inline-block;
    }

    .tituloPrincipal{
      font-size: 4.5rem;
      width: 70vw;
      text-align: center;
    }
    .tituloSecundario{
      text-align: center;
      font-size: 2.2rem;
      font-weight: 400;
    }

    .registerLink{
      color: #ffffff;
      height: 9vh;
      width: 11vw;
      vertical-align: center;
      text-decoration: none;
      font-weight: 700;
      font-size: 1.1rem;
      padding: 0.5rem 1rem;
      background-color: #9f3647;
      border-radius: 5px;
      display: flex;
      justify-content: center;
      align-items: center;

      /* para que haya un pequeño delay cuando aparecen esas transformaciones */
      transition: transform 0.3s, box-shadow 0.3s;

      /* & se refiere a la misma clase donde está parado*/
      &:hover{
        /* el elemento se achica un poco al pasarle por arriba con el mouse */
        transform: scale(0.95);
        box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
        border-radius: 5px;
      }
    }
  }

  /* ###################### SECCION BUSCADOR ############################# */

  .buscadorSection{

    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    .form, .tituloBuscador{
      display: inline-block;
    }

    .tituloBuscador{
      font-size: 2.5rem;
      font-weight: bold;
      text-shadow: 0px 0px 2px rgba(255, 255, 255, 0.6);
    }

    .form{
      width: 50vw;
      display: flex;
      justify-content: space-around;


      .textoBuscador, .botonBuscador{
        display: inline-block;
        margin: 0;
        border-radius: 50px;
        height: 7vh;
        border: none;

      }

      .textoBuscador{
        width: 70%;
        text-indent: 15px;
      }

      .botonBuscador{
        width: 25%;
        text-align: center;
        background-color: #9f3647;
        color: white;
        font-size: 1.2rem;
        border: 2px solid white;

        /* para que haya un pequeño delay cuando aparecen esas transformaciones */
        transition: transform 0.3s, box-shadow 0.3s;

        /* & se refiere a la misma clase donde está parado*/
        &:hover{
          /* el elemento se achica un poco al pasarle por arriba con el mouse */
          transform: scale(0.95);
          box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
          /* border-radius: 5px; */
        }
      }

    }
    
  }
  
  .sectionTendencias{
    display: flex;
    height: 350vh;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    
    .tituloTendencias{
      font-size: 2.5rem;
      font-weight: bold;
      text-shadow: 0px 0px 2px rgba(255, 255, 255, 0.6);
    }

    .peliculasContainer{
      display: flex;
      height: 310vh;
      width: 80vw;
      border: 1px solid white;
      justify-content: space-evenly;
      flex-wrap: wrap;
      gap: 50px;

      .pelicula{
        border: 50px solid white;
        height: 45vh;
        width: 15vw;
        transition: transform 1s ease-in-out, box-shadow 0.3s ease-in-out;
        border: 1px solid #181419;
        border-radius: 10px;

        .tituloPelicula{
          font-size: 1.2rem;
          color: white;
          text-align: center;
          opacity: 0;
          position: relative;
          top: -180px;
          left: 27px;
          font-family: "Nunito", sans-serif;
          transition: opacity 0.4s ease-in;
          /* border: 1px solid white; */
          width: 75%;
          /* position: absolute;
          top: 20vh;
          left: 3vw;
          z-index: 1; */
          /* display: none; */
        }

        &:hover img{
          /* el elemento se achica un poco al pasarle por arriba con el mouse */
          transform: scale(0.9);
          box-shadow: 0 0 30px rgba(255, 50, 0, 0.7);
          filter: blur(4px);
          /* border-radius: 5px; */
        }

        &:hover .tituloPelicula{
          opacity: 1;
        }


        .peliculaLink{
          display: inline-block;
          width: 100%;
          height: 100%;
          text-decoration: none;
          

          .peliculaImg{
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 10px;
            transition: filter 0.3s ease-in-out, transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    
          }
        }

      }
    }

    .botonesAntSig{
      /* border: 1px solid white; */
      width: 30vw;
    }

    .botonAnterior, .botonSiguiente{
      display: inline-block;
      text-align: center;
      background-color: #9f3647;
      color: white;
      font-size: 1.2rem;
      border: 2px solid white;
      margin-left: 3vw;
      border-radius: 5px;

      width: 10vw;
      height: 6vh;

      /* para que haya un pequeño delay cuando aparecen esas transformaciones */
      transition: transform 0.3s, box-shadow 0.3s;

      /* & se refiere a la misma clase donde está parado*/
      &:hover{
        /* el elemento se achica un poco al pasarle por arriba con el mouse */
        transform: scale(0.95);
        box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
        /* border-radius: 5px; */
      }
    }
  }

  .aclamadas{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 75vh;

    .tituloAclamadas{
      font-size: 2.5rem;
      font-weight: bold;
      text-shadow: 0px 0px 2px rgba(255, 255, 255, 0.6);
    }

    .aclamadasContainer{
      width: 80vw;
      height: 60vh;
      border: 1px solid white;
      display: flex;
      flex-wrap: nowrap;
      overflow-x: visible;
      overflow-y: hidden;
      justify-content: space-between;
      align-items: center;

      .peliAclamada{
        width: 13vw;
        height: 40vh;
        /* border: 3px solid white; */
        /* margin-left: 30px;
        margin-top: 6%; */
        margin-left: 30px;
        flex-shrink: 0;
        border-radius: 10px;

        .peliAclamadaImg{
          width: 100%;
          height: 100%;
          border-radius: 10px;

        }
      }
    }


  }

}


/* Styles mobile y tablet */

@media (max-width: 768px){
  .header{
    /* cuando se cumple la condición del media vuelve a su altura original, 10vh en este caso */
    height: initial;

    display: flex;
    justify-content: center;
    
    .navegacion{
      flex-direction: column;
      margin-left: 10px;
      margin-right: 10px;
      row-gap: 20px;

      .anclaLogo{
        font-weight: 700;
        font-size: 1.2rem;
      }

      .listaNav{
        padding: initial;

        .listaItem{
          .linkNav{
            font-weight: 400;
            margin-right: initial;
            font-size: 1rem;
            padding: 0.2rem;
          }
        }
      }
    }

  }
}
